{
  "USERNAME": "bigluke575",
  "PASSWORD": "baldfraud",
  "CLIENT_ID": "p-jcoLKBynTLew",
  "CLIENT_SECRET": "gko_LXELoV07ZBNUXrvWZfzE3aI",
  "USER_AGENT": "The original FPLbot.",
  "SUBREDDIT": "FantasyPL",
}
